{% extends "base.html" %}

{% block titulo %}
Abrir dúvida | Monitoria IFPB
{% endblock %}

{% block conteudo %}

<div class="cabecalho-pagina">

    <h2>Abrir nova dúvida</h2>

    <p>
        Descreva sua dúvida e escolha a disciplina relacionada.
    </p>

</div>


<div class="form-card">

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button class="botao" type="submit">
            Enviar dúvida
        </button>

    </form>

</div>

{% endblock %}